@import "../../../styles.scss";
.actions-list {
  font-size: 1.3rem;
  padding: 0;
  width: 100%;
  li {
    @include clickable();
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover {
      color: white;
      font-weight: bold;
      span {
        &:after {
          transform: scaleX(1);
        }
      }
    }
    span {
      position: relative;
      &:after {
        content: "";

        transition: all 0.2s ease-in-out;
        position: absolute;
        bottom: -10px;
        left: 0;
        border-bottom: solid 3px white;
        width: 100%;
        transform: scaleX(0);
      }
    }

    svg {
      margin: 0 1rem;
    }
  }
  &-appear {
    opacity: 0;
  }

  transition: all 0.7s ease-in-out;
}
