.menu {
  display: flex;
  flex-direction: column;
  width: 0;
  z-index: 999;
  background: #333;
  height: 100vh;
  position: absolute;
  width: 15rem;

  &-children {
    margin: 5rem 0;
    padding: 0 1rem;
  }

  &-open-appear {
    width: 0;
  }

  &-icon {
    margin: 10px;
    z-index: 999999;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
  transition: width 0.2s ease-in-out;
}
