@import "../styles.scss";
.header {
  display: flex;
  background: #1d1f21;
  padding: 0;

  li.logout {
    color: white;
    &:last-child {
      margin-left: auto;
      @include clickable();
      padding-right: 3rem;
    }
  }
}
